{% extends 'base.html' %}

{% block header %}

<!-- Booking history overview and information etc -->
<div class="container-fluid">

    <div class="row d-flex align-items-center">
        <div class="col-md-6">

            <div class="mx-4 my-4">
                <h1><strong>Booking History</strong></h1>
                <h5>View your bookings here, click to see more information about the event.</h5>
            </div>

        </div>

        <div class="col-md-6">

            <!-- user information -->
            <div class="p-3 custom-card-body">

                <div class="d-flex">

                    <div class="date text-center">
                        <div class="day-font"><i class="bi bi-person-circle" style="font-size: 3rem;"></i></div>
                    </div>

                    <div>

                        <h5 class="card-title mt-3">{{user.username}}</h5>
                        <h5 class="card-body" style="font-size: 1rem;">{{user.email}}</h5>

                    </div>


                </div>

                <div class="mx-4">
                    <!-- show the number of bookings user has for events -->
                    <p>You have <strong>{{totalBookings}}</strong> bookings for events.</p>

                </div>


            </div>


        </div>
    </div>

    <!-- Booking information cards  -->
    <section>
        <div class="row py-5">
            <!-- show all of users bookings dynamically-->
            {% if bookings|length > 0 %}

            {% for booking in bookings %}

            <div class="py-4">
                <a href="{{url_for('event.show', id=booking.event.id) }}" alt="Booking information card"
                    style="text-decoration: none;">

                    <div class="custom-booking-card card mx-auto">

                        <div class="position-relative">

                            <!--  Event status coloring logic -->
                            {% if booking.event.event_status == 'Open' %}
                            <span
                                class="badge text-bg-success position-absolute m-2 top-0 start-0 fs-5">{{booking.event.event_status}}</span>
                            {% endif %}

                            {% if booking.event.event_status == 'Inactive' %}
                            <span
                                class="badge text-bg-secondary position-absolute m-2 top-0 start-0 fs-5">{{booking.event.event_status}}</span>
                            {% endif %}

                            {% if booking.event.event_status == 'Sold Out' %}
                            <span
                                class="badge text-bg-danger position-absolute m-2 top-0 start-0 fs-5">{{booking.event.event_status}}</span>
                            {% endif %}

                            {% if booking.event.event_status == 'Cancelled' %}
                            <span
                                class="badge text-bg-info position-absolute m-2 top-0 start-0 fs-5">{{booking.event.event_status}}</span>
                            {% endif %}


                        </div>

                        <div class="row g-0">
                            <div class="col-12 col-sm-6 col-lg-5 d-flex rounded-start align-item-center justify-content-center"
                                style="background-color: black;">
                                <img src="{{booking.event.image}}" class="img-fluid" style="object-fit:contain;"
                                    alt="...">
                            </div>
                            <div class="col-12 col-sm-6 col-lg-5">
                                <div class="card-body">
                                    <h5 class="card-title">{{booking.event.name}}</h5>

                                    <p class="card-text mb-1" style="color: black;"><strong>Genre:</strong>
                                        {{booking.event.genre}}</p>
                                    <p class="card-text mb-1" style="color: black;"><strong>Location:</strong>
                                        {{booking.event.location}}</p>
                                    <p class="card-text mb-1" style="color: black;"><strong>Date:</strong>
                                        {{booking.event.event_date}} ({{booking.event.start_time}})</p>
                                    <p class="card-text mb-1" style="color: black;"><strong>Ticket Price:</strong>
                                        ${{"{:.2f}".format(booking.event.ticket_price | float)}}
                                    </p>
                                    <p class="card-text mb-1" style="color: black;"><strong>Total Price:</strong>
                                        ${{"{:.2f}".format(booking.total_price | float)}}
                                    </p>

                                    <div>
                                        <p class="card-text mb-0" style="color: black;"><strong>Booking ID:</strong>
                                            {{booking.id}}
                                        </p>
                                        <p class="card-text mb-0" style="color: black;">Ticket was purchased on:
                                            {{booking.date_booked.strftime("%d %b %Y")}}</p>
                                        <p class="card-text mb-0" style="color: black;">Purchase Time:
                                            {{booking.date_booked.strftime("%I:%M %p")}}
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </section>

    <!-- booking 2  -->

    <!-- <div class="p-4 align-items-center">

            <a href="event.html" alt="wjknjkewf" style="text-decoration: none;">


                <div class="custom-booking-card card" style="max-width: 1500px;">
                    <div class="position-relative">
                        <span class="badge text-bg-danger position-absolute m-2 top-0 start-0 fs-5">Sold Out</span>
                    </div>
                    <div class="row g-0">
                        <div class="col-12 col-sm-6 col-lg-5 d-flex rounded-start align-item-center justify-content-center"
                            style="background-color: black;">
                            <img src="static/img/concert1.jpg" class="img-fluid" style="object-fit:contain;" alt="...">
                        </div>
                        <div class="col-12 col-sm-6 col-lg-5">
                            <div class="card-body">
                                <h5 class="card-title">Coldplay: Music of the Spheres World Tour</h5>

                                <p class="card-text mb-1" style="color: black;"><strong>Genre:</strong> Pop</p>
                                <p class="card-text mb-1" style="color: black;"><strong>Location:</strong> Brisbane,
                                    Australia</p>
                                <p class="card-text mb-1" style="color: black;"><strong>Date:</strong> 22 August 2025
                                    (9:00PM)</p>
                                <p class="card-text mb-2" style="color: black;">Ticket Price: $50</p>



                                <div>
                                    <p class="card-text mb-0" style="color: black;"><strong>Ticket Information:</strong>
                                    </p>
                                    <p class="card-text mb-0" style="color: black;">Booking ID: 1232142542</p>
                                    <p class="card-text mb-0" style="color: black;">Ticket was purchased on the 2nd of
                                        August 2025</p>
                                    <p class="card-text mb-0" style="color: black;">Purchase Time: 9:01PM</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </a>

        </div> -->

    <!-- booking 3  -->

    <!-- <div class="p-4 align-items-center">

            <a href="event.html" alt="wjknjkewf" style="text-decoration: none;">


                <div class="custom-booking-card card" style="max-width: 1500px;">
                    <div class="position-relative">
                        <span class="badge text-bg-secondary position-absolute m-2 top-0 start-0 fs-5">Inactive</span>
                    </div>
                    <div class="row g-0">
                        <div class="col-12 col-sm-6 col-lg-5 d-flex rounded-start align-item-center justify-content-center"
                            style="background-color: black;">
                            <img src="static/img/concert1.jpg" class="img-fluid" style="object-fit:contain;" alt="...">
                        </div>
                        <div class="col-12 col-sm-6 col-lg-5">
                            <div class="card-body">
                                <h5 class="card-title">Coldplay: Music of the Spheres World Tour</h5>

                                <p class="card-text mb-1" style="color: black;"><strong>Genre:</strong> Pop</p>
                                <p class="card-text mb-1" style="color: black;"><strong>Location:</strong> Brisbane,
                                    Australia</p>
                                <p class="card-text mb-1" style="color: black;"><strong>Date:</strong> 22 August 2025
                                    (9:00PM)</p>
                                <p class="card-text mb-2" style="color: black;">Ticket Price: $50</p>


                                <div>
                                    <p class="card-text mb-0" style="color: black;"><strong>Ticket Information:</strong>
                                    </p>
                                    <p class="card-text mb-0" style="color: black;">Booking ID: 1232142542</p>
                                    <p class="card-text mb-0" style="color: black;">Ticket was purchased on the 2nd of
                                        August 2025</p>
                                    <p class="card-text mb-0" style="color: black;">Purchase Time: 9:01PM</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


        </div>

        </a> -->

</div>


<!-- pagination -->

<!-- <nav aria-label="Page navigation example">
    <ul class="pagination pagination justify-content-center mt-5">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav> -->


</div>

{% endblock %}