<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="My Travel App">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- fonts  -->


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">


    <link rel="stylesheet" href="static/style/stylesheet.css">
    <title>My Music App</title>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">



    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-7qAoOXltbVP82dhxHAUje59V5r2YsVfBafyUDxEdApLPmcdhBPg1DKg1ERo0BZlK"
        crossorigin="anonymous"></script>


    <header>
        <!-- nav bar -->
        <nav class="py-3 navbar sticky-top navbar-expand-lg custom-navbar">
            <div class="container-fluid d-flex justify-content-between align-item-center">
                <a class="px-3 navbar-brand" href="#"><i class="bi bi-cloudy-fill"></i></i> musicCloud</a>
                <a img src="img/logo.png" alt="logo" class="logo" height="50" width="50"></a>



                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav mx-auto gap-3">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="index.html">home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="createEvent.html">create event</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">my events</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="bookingHistory.html">my tickets</a>
                        </li>
                        

                    </ul>

                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search events"
                            aria-label="Search" />
                        <button class="btn btn-outline-light" type="submit" aria-label="search"><i
                                class="bi bi-search"></i></button>

                    </form>
                </div>
            </div>
        </nav>

        </div>

    </header>

    


    <!-- Custom Jumbotron image only  -->


    <div class="py-5">
        <div class="myjumbotron2 d-flex justify-content-center align-items-center">


            <img src="static/img/concert1.jpg" class="img-fluid" alt="..."
                style="box-shadow: 20px; max-width: 80%; height: auto;">



        </div>

    </div>

    
    <!-- event details -->

    <div class="p-5 row">

        <div class="col-md-7 p-5">
            <div class="home-content">
        
                <p class="h1">Coldplay: Music of the Spheres World Tour</p>
                <p class="card-text mb-1" style="color: black;">Coldplay embarks on the long-awaited "Music of the
                    Spheres
                    World Tour," to support their albums Music of the Spheres and Moon Music.</p>
                <p class="card-text mb-1" style="color: black;"><strong>Genre:</strong> Pop</p>
                <p class="card-text mb-1" style="color: black;"><strong>Location:</strong> Brisbane, Australia at Suncorp Stadium</p>
                <p class="card-text mb-1" style="color: black;"><strong>Date:</strong> 22 August 2025</p>
                <p class="card-text mb-1" style="color: black;"><strong>Time:</strong> Start: 9:00PM, End: 12:00AM</p>

  

                <h4 class="my-5">Event by John Doe</h4>
            </div>

        </div>


        <!-- ticket information -->

        <div class="col-md-5 p-5">

            <div class="card custom-card-ticket mb-3 rounded-3 text-center" style="max-width: 30rem;">
                <div class="card-header custom-card-ticket-header"><strong>Open:</strong> 12 Tickets Left</div>
                <div class="card-body custom-card-ticket-header">
                    <h5 class="card-title">Coldplay Tickets</h5>

                    <h1 style="font-weight: 600; font-size: 50px;">$120</h1>

                <a href="buyTickets.html" class="custom-button-booking mt-2 p-3" style="display:inline-block; text-decoration:none;">
                    <strong>Book now</strong>
                </a>

                    <ul>

                        <li>
                            <p class="card-text text-start">See Coldplay live in action in the area.</p>
                        </li>
                        <li>
                            <p class="card-text text-start">Gain access to the merchandise store early.</p>
                        </li>
                        <li>
                            <p class="card-text text-start">Gain entry to pre-concert party and performance from opening
                                act.</p>
                        </li>
                        <li>
                            <p class="card-text text-start">Gain reduced prices for selected merchanise items.</p>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>


    <!-- event images section -->
    <p class="h2 mt-5 text-center">Tour Photos</p>

    <div id="carouselExampleCaptions" class="carousel slide mx-auto" style="max-width: 1200px; max-height: 500px;">

        <div class="carousel-indicators mx-auto">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner rounded-3">
            <div class="carousel-item active">
                <img src="static/img/concert1.jpg" class="d-block w-100" alt="..."
                    style="max-width: 1200px; max-height: 500px;">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Night 1: Australia</h5>
                    <p>Playing Fix You at the Rod Laver Arena.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="static/img/concert2.jpg" class="d-block w-100" alt="..."
                    style="max-width: 1200px; max-height: 500px;">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Night 2: New Zealand</h5>
                    <p>Playing Paradise at the Auckland Arena.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="static/img/concert3.jpg" class="d-block w-100" alt="..."
                    style="max-width: 1200px; max-height: 500px;">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Night 3: New York</h5>
                    <p>Playing Yellow at the Madison Square Garden.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>




    <!-- comment section -->
    <main class="container my-5">

        <div class="align-items-center p-5">


            <div class="d-flex align-items-center col-md-8 gap-3 my-3">

                <p class="mb-0" style="color: black;">Share your thoughts about this event: <strong>Coldplay: Music of
                        the Spheres World Tour</strong></p>

            </div>



            <div class="custom-card-body">

                <div class="d-flex">

                    <div class="date text-center">
                        <div class="day-font"><i class="bi bi-person-circle" style="font-size: 3rem;"></i></div>
                    </div>

                    <div>

                        <h5 class="card-title mt-3">John Doe</h5>
                        <h5 class="card-body" style="font-size: 1rem;">johndoe@gmail.com</h5>

                    </div>


                </div>

            </div>


            <div class="mb-5 form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                    style="height: 100px"></textarea>

                <label for="floatingTextarea2">
                    Comments
                </label>

                <div class="d-flex mt-3 mx-0 align-items-center">
                    <button type="button" class="custom-button-categories-small mx-3">Cancel</button>
                    <input class="custom-button-categories-small" type="submit" value="Submit">



                </div>



            </div>



            <div class="comments-container">


                <div class="d-flex">
                    <h5 class="mx-1 mb-4">Comments:</h5>
                    <h5><strong>2</strong></h5>

                </div>


                <!-- comment 1 -->
                <div class="card">
                    <div class="p-3 custom-card-body rounded-0">

                        <div class="mx-4">

                            <div class="date text-center">
                                <div class="day-font"></i></div>
                            </div>

                            <div>

                                <h5 class="card-title mt-3">Jane Doe</h5>
                                <p>Posted: 15 August 2025</p>

                            </div>

                        </div>

                        <div class="mx-4">
                            <p>This was a very fun event would recommend this to fans of the show.</p>

                        </div>

                    </div>

                </div>

                <!-- comment 2 -->

                <div class="card mb-2">

                    <div class="p-3 custom-card-body">

                        <div class="mx-4">

                            <div class="date text-center">
                                <div class="day-font"></i></div>
                            </div>

                            <div>

                                <h5 class="card-title mt-3">Johnny Doz</h5>
                                <p>Posted: 16 August 2025</p>

                            </div>

                        </div>

                        <div class="mx-4">
                            <p>Great show! Loved the lead singer he was so good</p>

                        </div>


                    </div>

                </div>





            </div>


        </div>


    </main>

    </div>


    <!-- footer -->

    <footer class="text-center mt-5">
        <div class="text-center p-5 mb-2 custom-footer text-secondary-emphasis opacity-70" style="width: 100%;">

            <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center">

                <h5 class="mx-4">Home</h5>
                <h5 class="mx-4">Features</h5>
                <h5 class="mx-4">News</h5>
                <h5 class="mx-4">About Us</h5>

            </div>


            <hr class="solid" style="color: rgb(203, 203, 203);">



            <div class="d-flex justify-content-center">
                <p> <i class="bi bi-cloudy-fill"></i> © 2025 musicCloud, Inc</p>



            </div>



        </div>
    </footer>
</body>

</html>